@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.banner-image {
    width: 100%;
}

.container-column p {
    text-align: justify;
    padding-top: 30px;
    color: whitesmoke;
    font-family: 'poppins', sans-serif;
}

.container-column h5 {
    color: whitesmoke;
    text-align: justify;
    font-family: 'poppins', sans-serif;
}

.banner-container {
    position: relative;
}

.container-column {
    width: 600px;
    position: absolute;
    top: 90px;
    left: 150px;
    display: flex;
    flex-direction: column;
}