.card-container{
    margin-left: 30px;
    margin-right:100px;
}

.features-card{
    margin-top:40px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    min-width: 400px;
    min-height: 700px;
}

.features-heading {
  font-size: 26px;
}

@keyframes scaleUp {
    0% {
      transform: scale(1); 
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    100% {
      transform: scale(1.05); 
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
  

.card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor:grab;
    animation: scaleUp 0.3s ease forwards;
    
}

.features-text {
  font-size: 22px;
}