.product-heading{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 50px;
    justify-content:center;
    font-weight: 1200;
}
.product-title{
    text-align: center;
}

.product-container{
    background-color:rgba(228, 166, 74, 0.2);
   cursor:grab;
   box-shadow: 0px 0px 10px rgb(224, 118, 118);
    transform: scale(0.99);
    transition: 0.2s ease-in-out;
    margin: 20px 40px; 
   max-width: 30vw;
   border-radius: 50px;
   min-height: 700px;
   padding-top: 30px;
}

.product-container:hover {
    box-shadow: 0px 0px 20px rgb(160, 160, 160);
    cursor: grab;
    transform: scale(1);
}

.product-text{
    padding:30px;
    text-align: center;
    font-size: 20px;
}

.product-icon {
    width: 100px;
    padding: 20px;
    border: 2px solid;
    border-radius: 100%;
}
.product-img{
    display:flex;
    justify-content: center;
    margin-top:30px;
}



.product-heading, .product-text {
    font-family: 'poppins', sans-serif;
}

@media (max-width: 992px) {
    .product-container{
        min-width:400px;
    }
}



